* {
    margin: 0px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.top h2 {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #e8e8e8;
    background-color: #212121;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
}

.custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .icon svg {
    height: 80px;
    fill: #e8e8e8;
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: #e8e8e8;
}

.custum-file-upload input {
    display: none;
}

.inpName{
    width: 330px;
    height: 40px;
}

.middle{
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-left: 37%;
    margin-top: 3%;
}

.btn{
    padding: 10px 25px;
    border: 1px solid #2563EB;
    cursor: pointer;
}

.create{
    background-color: #2563EB;
    border: none;
    border-radius: 10px;
}

.cancel{
    border-radius: 10px;
    background-color: transparent;
}

.btns{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    gap: 20px;
}

